[submodule "vault"]
	path = vault
	url = https://github.com/000jas/stellar-vault.git
[submodule "Asgardian-Architects/StellaFi"]
	path = Asgardian-Architects/StellaFi
	url = https://github.com/vynride/stellafi-frontend.git
[submodule "deadpool-validators/stellar-insurance"]
	path = deadpool-validators/stellar-insurance
	url = git@github.com:piyush-json/stellar-insurance.git
